.count-in {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: tomato;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.count-out {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(128, 236, 21);
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.message {
  font-size: 2rem;
  opacity: 1;
  text-align: center;
  /* animation: fadeOut 1s ease-out forwards; */
}

.message-count {
  font-size: 5rem;
  opacity: 1;
  animation: fadeOut 1s ease-out forwards;
}

.count-number {
  font-size: 7rem;
  opacity: 1;
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
