.vertical-slider {
  height: 100px; /*Adjust height as needed */
  align-content: center;
  transform: rotate(-90deg);
  margin-top: 30px;
}

.slider {
  -webkit-appearance: none;
  width: 150px; /* Width of the slider track when rotated */
  height: 5px;
  background: linear-gradient(90deg, yellow, red);
  outline: none;

  margin-left: 20px;
  /* transform: rotate(-90deg); */
}

/* Webkit browsers (Chrome, Safari) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 30px;
  border: 1px solid white;
  background: linear-gradient(90deg, #000000, #769bff);
  border-radius: 10%;
  cursor: pointer;
}

/* Firefox */
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #3d73d6;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.slider-value {
  font-size: 1rem;
  color: #ffffff;
  transform: rotate(90deg);
}
